@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url(./Roboto/Roboto-Regular.ttf);
}
* {
  margin: 0%;
  padding: 0px;
}
body {
  font-family: "Roboto-Regular", sans-serif;
}
h1 {
  color: #12293d;
  font-size: 30px;
  padding: 50px 0px 50px 0px;
}
h2 {
  color: #12293d;
}
h3 {
  color: #12293d;
}
.header {
  background-color: #12293d;
  padding: 20px;
}
a {
  color: antiquewhite;
}
.centrarTexto {
  text-align: center;
}
.flexMenu {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
footer section h3 {
  color: red;
}
section {
  font-size: 20px;
  padding: 20px 20px;
}
article {
  padding: 15px 15px;
}
.sinSubrayado {
  text-decoration: none;
}
footer {
  background-color: black;
  padding: 10px;
}
ul li {
  padding: 10px;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
}
#padForm {
  padding-top: 30px;
}
.links {
  color: blueviolet;
}
a:hover {
  color: #12293d;
  background-color: white;
}
.listaCont {
  text-decoration: none;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
}
.gridsUno {
  display: grid;
  grid-template-areas:
    "tituloH1 tituloH1"
    "listaDeImagenes listaDeImagenes"
    "listaDeContinentes listaDeContinentes"
    "articulosDeInteres articulosDeInteres"
    "articulosUno articulosDos"
    "tituloRegistro tituloRegistro"
    "formulario formulario";
  grid-template-columns: 50% 50%;
}
#tituloH1 {
  display: grid;
  grid-area: tituloH1;
}
#listaDeImagenes {
  display: grid;
  grid-area: listaDeImagenes;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#listaDeContinentes {
  display: grid;
  grid-area: listaDeContinentes;
}
#articulosDeInteres {
  display: grid;
  grid-area: articulosDeInteres;
}
#articulosUno {
  display: grid;
  grid-area: articulosUno;
}
#articulosDos {
  display: grid;
  grid-area: articulosDos;
}
#tituloRegistro {
  display: grid;
  grid-area: tituloRegistro;
  text-align: center;
}
#formulario {
  display: grid;
  grid-area: formulario;
  padding: 0px;
}
/*-------------------TABLET-----------------------*/
@media (min-width: 481px) and (max-width: 1023px) {
  h1 {
    color: #12293d;
    font-size: 30px;
    padding: 50px 0px 50px 0px;
  }
  h2 {
    color: #12293d;
  }
  h3 {
    color: #12293d;
  }
  .header {
    background-color: #12293d;
    padding: 20px;
  }
  a {
    color: antiquewhite;
  }
  .centrarTexto {
    text-align: center;
  }
  .flexMenu {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  footer section h3 {
    color: red;
  }
  section {
    font-size: 20px;
    padding: 20px 20px;
  }
  article {
    padding: 15px 15px;
  }
  .sinSubrayado {
    text-decoration: none;
  }
  footer {
    background-color: black;
    padding: 10px;
  }
  ul li {
    padding: 10px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #padForm {
    padding-top: 30px;
  }
  .links {
    color: blueviolet;
  }
  a:hover {
    color: #12293d;
    background-color: white;
  }
  .listaCont {
    text-decoration: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
  }
  .gridsUno {
    display: grid;
    grid-template-areas:
      "tituloH1 tituloH1"
      "listaDeImagenes listaDeImagenes"
      "listaDeContinentes listaDeContinentes"
      "articulosDeInteres articulosDeInteres"
      "articulosUno articulosDos"
      "tituloRegistro tituloRegistro"
      "formulario formulario";
    grid-template-columns: 50% 50%;
  }
  #tituloH1 {
    display: grid;
    grid-area: tituloH1;
  }
  #listaDeImagenes {
    display: grid;
    grid-area: listaDeImagenes;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  #listaDeContinentes {
    display: grid;
    grid-area: listaDeContinentes;
  }
  #articulosDeInteres {
    display: grid;
    grid-area: articulosDeInteres;
  }
  #articulosUno {
    display: grid;
    grid-area: articulosUno;
  }
  #articulosDos {
    display: grid;
    grid-area: articulosDos;
  }
  #tituloRegistro {
    display: grid;
    grid-area: tituloRegistro;
    text-align: center;
  }
  #formulario {
    display: grid;
    grid-area: formulario;
  }
  .imagenesTamaño {
    width: 95%;
  }
}
/*------------------SMARTPHONE--------------------*/
@media (max-width: 480px) {
  h1 {
    color: #12293d;
    font-size: 30px;
    padding: 50px 0px 50px 0px;
  }
  h2 {
    color: #12293d;
  }
  h3 {
    color: #12293d;
  }
  .header {
    background-color: #12293d;
    padding: 20px;
  }
  a {
    color: antiquewhite;
  }
  .centrarTexto {
    text-align: center;
  }
  .flexMenu {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  footer section h3 {
    color: red;
  }
  section {
    font-size: 20px;
    padding: 20px 20px;
  }
  article {
    padding: 15px 15px;
  }
  .sinSubrayado {
    text-decoration: none;
  }
  footer {
    background-color: black;
    padding: 10px;
  }
  ul li {
    padding: 10px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .boton {
    color: white;
    background-color: #12293d;
  }
  #padForm {
    padding-top: 30px;
  }
  .links {
    color: blueviolet;
  }
  a:hover {
    color: #12293d;
    background-color: white;
  }
  .listaCont {
    text-decoration: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
  }
  .gridsUno {
    display: grid;
    grid-template-areas:
      "tituloH1"
      "listaDeImagenes"
      "listaDeContinentes"
      "articulosDeInteres"
      "articulosUno"
      "articulosDos"
      "tituloRegistro"
      "formulario";
    grid-template-columns: 100%;
  }
  #tituloH1 {
    display: grid;
    grid-area: tituloH1;
  }
  #listaDeImagenes {
    display: grid;
    grid-area: listaDeImagenes;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  #listaDeContinentes {
    display: grid;
    grid-area: listaDeContinentes;
  }
  #articulosDeInteres {
    display: grid;
    grid-area: articulosDeInteres;
  }
  #articulosUno {
    display: grid;
    grid-area: articulosUno;
  }
  #articulosDos {
    display: grid;
    grid-area: articulosDos;
  }
  #tituloRegistro {
    display: grid;
    grid-area: tituloRegistro;
    text-align: center;
  }
  #formulario {
    display: grid;
    grid-area: formulario;
  }
  .imagenesTamaño {
    width: 90%;
  }
}
